/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary{
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  -webkit-border-radius: var(--mainBorderRadius);
  -moz-border-radius: var(--mainBorderRadius);
  -ms-border-radius: var(--mainBorderRadius);
  -o-border-radius: var(--mainBorderRadius);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: transparent;
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover, .btn-primary:active {
  background: var(--primaryLightColor) !important;
  color: var(--primaryColor) !important;
}
.btn-primary:active {
  border: transparent !important;
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}
/* 
====== 
Navbar
======
*/
.nav-center, .navbar {
  display: flex;
  align-items: center;
}
.nav-center {
  justify-content: space-between;
  width: 85vw;
  margin: 0 auto;
}
.navbar {
  background: #fff;
    height: 5rem;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
}
.logo {
  width: 12rem;
}
@media (max-width: 424px) {
  .logo {
    width: 6rem;
  }
}

.nav-links {
  display: flex;
}
.nav-links a {
    text-transform: capitalize;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: all .3s linear;
    transition: var(--mainTransition);
    -webkit-transition: var(--mainTransition);
    -moz-transition: var(--mainTransition);
    -ms-transition: var(--mainTransition);
    -o-transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
/* 
====== 
About
======
*/
.section {
  padding: 5rem 0;
}
.about-section{
  max-width: 40rem;
  margin: 0 auto;
}
.about-section h1{
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.about-section p {
   line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}
/* 
====== 
Error
======
*/
.error-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
====== 
Cocktails List 
======
*/
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-center .btn{
  width: 100px;
}

.card-section .card {
  margin-bottom: 2rem;
  box-shadow: 2px 5px 3px 0 rgb(0 0 0 / 50%);
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  border-radius: 0.25rem;
  border-radius: var(--mainBorderRadius);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
  -webkit-border-radius: var(--mainBorderRadius);
  -moz-border-radius: var(--mainBorderRadius);
  -ms-border-radius: var(--mainBorderRadius);
  -o-border-radius: var(--mainBorderRadius);
}
.card-section .card:hover {
  box-shadow: var(--darkShadow);
}
.card-section .card-title {
  font-size: 2rem;
}
.card-section small {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
.card-section .btn {
  padding: 0.25rem 0.4rem;
}
/* single cocktail */
.single-cocktail img{
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.single-cocktail .btn {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
  margin-top: 70px;
}
.single-cocktail .details div {
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.8;
    margin-bottom: 25px;
}
.single-cocktail span {
  display: inline-block;
  color: var(--primaryColor);
  background: var(--primaryLightColor);
  padding: 5px 10px;
  border-radius: var(--mainBorderRadius);
  margin-right: 10px;
  -webkit-border-radius: var(--mainBorderRadius);
  -moz-border-radius: var(--mainBorderRadius);
  -ms-border-radius: var(--mainBorderRadius);
  -o-border-radius: var(--mainBorderRadius);
}
/* 
Form
======
*/
.search-form {
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
  -webkit-border-radius: var(--mainBorderRadius);
  -moz-border-radius: var(--mainBorderRadius);
  -ms-border-radius: var(--mainBorderRadius);
  -o-border-radius: var(--mainBorderRadius);
}
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}
.search-form label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: 700;
  letter-spacing: .25rem;
  color: var(--primaryColor);
}
.search-form input {
  width: 100%;
  border: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
  -webkit-border-radius: var(--mainBorderRadius);
  -moz-border-radius: var(--mainBorderRadius);
  -ms-border-radius: var(--mainBorderRadius);
  -o-border-radius: var(--mainBorderRadius);
}
/* loading chart */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}